.container {
  @apply mx-auto px-4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Atyp-Bold", sans-serif;
}
/* @font-face {
  font-family: "Atyp-Regular";
  src: url('/app/assets/font/AtypDisplayTRIAL-Regular-BF65727125d566e.otf');
}
@font-face {
  font-family: "Atyp-Bold";
  src: url('/app/assets/font/AtypDisplayTRIAL-Bold-BF65727125c8d1d.otf');
}
@font-face {
  font-family: "Atyp-Light";
  src: url('/app/assets/font/AtypDisplayTRIAL-Light-BF65727125c722b.otf');
}
@font-face {
  font-family: "Atyp-Medium";
  src: url('/app/assets/font/AtypDisplayTRIAL-Medium-BF65727125b8683.otf');
}
@font-face {
  font-family: "Atyp-Semibold";
  src: url('/app/assets/font/AtypDisplayTRIAL-Semibold-BF65727125c6fc9.otf');
} */